@import "tailwindcss";

@theme {
  --color-primary-50: #eef6ff;
  --color-primary-100: #d9ebff;
  --color-primary-200: #bcdcff;
  --color-primary-300: #8ec7ff;
  --color-primary-400: #59a8ff;
  --color-primary-500: #3385fc;
  --color-primary-600: #1d64f1;
  --color-primary-700: #154ede;
  --color-primary-800: #1841b4;
  --color-primary-900: #1a3a8d;
  --color-primary-950: #152556;
}